.detail {
  padding: 20px 30px;
  background: #fff;
  border: 1px solid #e8e8e8;
}
.detail .head {
  text-align: center;
}
.detail .head h1 {
  font-size: 22px;
  line-height: 2em;
}
.detail .head .info {
  padding: 10px 0;
  color: #999;
  border-top: 1px solid #e8e8e8;
}
.detail .head .info li {
  display: inline-block;
  line-height: 2em;
  font-size: 14px;
  margin: 0 10px;
  position: relative;
}
.detail .head .info li a {
  color: #999;
}
.detail .head .info li span {
  display: inline-block;
  margin-left: 3px;
  min-width: 16px;
  text-align: left;
}
.detail .body .desc {
  width: 97%;
  margin: 20px auto;
  padding: 20px;
  font-size: 14px;
  line-height: 2em;
  color: #666;
  border-radius: 2px;
  background: #f2f2f2;
}
.detail .body .content p {
  margin-bottom: 10px;
  text-indent: 2em;
  color: #333;
  font-size: 16px;
  line-height: 1.8em;
}
.detail .body .content img {
  display: block;
  margin: 20px auto 0;
  width: auto;
  height: auto;
  max-width: 95%;
  max-height: 1024px;
}
.detail .foot {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}
